<h2 class="control__title--primary">Lista de deseos: {{ paginator.total }} juegos</h2>

    <article class="control__wish">
        {% for game in paginator.items %}

            {% set platformIcon = (game.idPlatform.platformName == 'switch' ? 'nintendo-switch' : game.idPlatform.platformName) %}

            {% set counter = ( counter | default(0) ) + 1 %}
            <div class="control__card--wish" game = "{{game.game.idGame}}" platform="{{game.idPlatform.idPlatform}}">
                <i class="bi bi-x wish__icon--x"></i>

                {% for img in images | filter((img) => img.idGame == game.game and img.idPlatform == game.idPlatform) %}
                    <img src="{{ asset('static/img/games/' ~ img.idMedia.mediaUrl ~ '.webp') }}" alt="" class="wish__img">
                {% endfor %}
 
                <span class="control__platform">
                    <i class="{{'bi bi-' ~ platformIcon ~ ' control__icon--platform'}}"></i>
                </span>
                <div class="wish__container">
                    <h2 class="wish__title">{{game.game.gameName}}</h2> 
                    <p class="wish__text">{{ game.idFeature.gamePrice }}€</p>
                    <i class="bi bi-cart wish__icon--cart"></i>
                    <i class="bi bi-trash wish__icon--delete"></i>
                </div>
            </div>

        {% endfor %}
        {% if paginator.items | length == 0 %}

        <div class="store__error">
            <i class="bi-exclamation-triangle  store__error--icon"></i>
            <span class="store__error--text"> Parece que aún no tienes juegos en tu lista de deseos</span>
        </div>

        {% endif %}
    </article>

    <div class="reviews__paginator">
        {% if paginator.lastPage > 1 %}
            <i class="bi bi-chevron-left paginator__button--disabled paginator__button--wish" direction="left"></i>
            <span class="paginator__page">
                Página <span class="paginator__actual">{{ actual }}</span> de <span class="paginator__last">{{ paginator.lastPage }}</span>
            </span>
            <i class="bi bi-chevron-right paginator__button paginator__button--wish" direction="right"></i>
        {% endif %}
    </div>