{% extends "users/control_panel.html.twig" %}

{% block content %}
    <h2 class="control__title">Datos de mi cuenta</h2>

    {{ form_start(userNameForm, {'attr' : {'action' : path('user_control_panel_data') }}) }}

        {{ form_label(userNameForm.userName) }}
        <div class="control__container">
            {{ form_widget(userNameForm.userName, {'value': app.user.username}) }}
            <input type="submit" value="Guardar" class="control__button">
        </div>
        {{ form_errors(userNameForm.userName, {'attr': {'class' : 'form__error'}}) }}
        
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {{ form_end(userNameForm) }}

    {{ form_start(userPassForm, {'attr' : {'action' : path('user_control_panel_data') }}) }}

        <div class="control__container">
            <div class="control__container--column">
                {{ form_label(userPassForm.newPass.first) }}
                {{ form_widget(userPassForm.newPass.first) }}
            </div>
            <div class="control__container--column">
                {{ form_label(userPassForm.newPass.second) }}
                {{ form_widget(userPassForm.newPass.second) }}
            </div>
            <input type="submit" value="Guardar" class="control__button">
        </div>
        {{ form_errors(userPassForm.newPass.second, {'attr': {'class' : 'form__error'}}) }}
        
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
    {{ form_end(userPassForm) }}

    {{ form_start(userMailForm, {'attr' : {'action' : path('user_control_panel_data') }}) }}

        {{ form_label(userMailForm.userEmail) }}
        <div class="control__container">
            {{ form_widget(userMailForm.userEmail, {'value': app.user.useremail}) }}
            <input type="submit" value="Guardar" class="control__button">
        </div>
        {{ form_errors(userMailForm.userEmail, {'attr': {'class' : 'form__error'}}) }}
        
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    {{ form_end(userMailForm) }}

    <h2 class="control__title">Direcciones de facturación</h2>

    <div class="control__container--column control__container--billing">
        {% for billing in billings %}
        <div class="control__card">
            <span class="control__text"> <strong> {{billing.billingName}}</strong></span>
            <span class="control__text"><strong>Dirección:</strong> {{billing.billingDirection}}, {{billing.billingPostal}}, {{billing.billingPoblation}} ({{billing.billingProvince}})</span>
            <span class="control__text"><strong>Teléfono:</strong> {{billing.billinTlfo}}</span>
            <i class="bi bi-x control__x" target="{{billing.idBilling}}" ></i>
        </div>
        {% endfor %}
    </div>
{% endblock %}