{% extends "users/formUser.html.twig" %}

{% block title %} CheapKeys | Login {% endblock %}

{% block form %}

    {{ form_start(form, {'attr' : {'class' : 'form--login'}}) }}

            <h2 class="form__title">Iniciar sesión</h2>

            {{ form_label(form.userEmail) }}
            {{ form_errors(form.userEmail) }}
            {{ form_widget(form.userEmail, {'full_name':'userEmail'}) }}
            
            {{ form_label(form.password) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password, {'full_name':'password'}) }}

            <lable class="form__label">
                <input type="checkbox" name="_remember_me" >
                Mantener la sesión inciada
            </lable>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="form__button">Login</button>
            {% if error %}
                <span class="form__error">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            {% endif %}
        {{ form_end(form) }}

        <div class="form__register">
            <p class="form__label">¿Aún no tienes cuenta?</p>
            <a href="{{ path('app_register') }}" class="form__button">Registrarse</a>
        </div>

{% endblock %}