<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administracion</title>
    <link rel="stylesheet" href="{{ asset('/static/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('/static/css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{{ asset('/static/img/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <main class="admin--panel">
        <nav class="admin__menu">
            <img src="{{ asset('/static/img/logo.webp') }}" alt="" class="menu__img--logo">
            <div class="menu__container">
                <img src="{{ asset('/static/img/users/'~ app.user.userimg ~ '.webp') }}" alt="" class="menu__img">
                <p class="menu__user">{{ app.user.userName }}</p>
            </div>

            <ul class="menu__list">
                <a href="{{ path('admin_dashboard') }}" class="menu__link{{ button == 'dashboard' ? '--selected' : '' }}">
                    <li class="menu__item"><i class="bi bi-layout-text-sidebar-reverse menu__icon">Dashboard</i></li>
                </a>
                <a href="{{ path('admin_products') }}" class="menu__link{{ button == 'products' ? '--selected' : '' }}">
                    <li class="menu__item"><i class="bi bi-controller menu__icon">Productos</i></li>
                </a>
                <a href="{{ path('admin_orders') }}" class="menu__link{{ button == 'orders' ? '--selected' : '' }}">
                    <li class="menu__item"><i class="bi bi-cart menu__icon">Pedidos</i></li>
                </a>
                <a href="{{ path('admin_users') }}" class="menu__link{{ button == 'users' ? '--selected' : '' }}">
                    <li class="menu__item"><i class="bi bi-person menu__icon">Usuarios</i></li>
                </a>
            </ul>
            <a href="{{ path('app_logout') }}" class="menu__button">Cerrar sesión</a>
        </nav>

        {% block content %}{% endblock %}

        <script src="{{ asset('static/javascript/admin.js') }}"></script>
</body>
</html>