{{ form_start(adminUserForm, {'attr' : {'class' : 'users__form'}}) }}

            <h2 class="form__title--admin">Modificación de usuario</h2>

            {{ form_label(adminUserForm.userName) }}
            {{ form_widget(adminUserForm.userName) }}
            {{ form_errors(adminUserForm.userName) }}

            {{ form_label(adminUserForm.userEmail) }}
            {{ form_widget(adminUserForm.userEmail) }}
            {{ form_errors(adminUserForm.userEmail) }}

            {{ form_label(adminUserForm.userPass.first) }}
            {{ form_widget(adminUserForm.userPass.first) }}
            {{ form_errors(adminUserForm.userPass.first) }}

            {{ form_label(adminUserForm.userPass.second) }}
            {{ form_widget(adminUserForm.userPass.second) }}
            {{ form_errors(adminUserForm.userPass.second) }}

            {{ form_label(adminUserForm.userRol) }}
            {{ form_widget(adminUserForm.userRol) }}
            {{ form_errors(adminUserForm.userRol) }}

            <button type="submit" class="admin__button--form">Modificar</button>

        {{ form_end(adminUserForm) }}