{% extends 'base.html.twig' %}

{% block title %} Cheapkeys | Contacto {% endblock %}

{% block body %}

<main class="contact">
    <section class="contact__header"></section>
    <section class="contact__content">
    
        <article class="contact__faq">
            <a name="metodos_pago"></a>
            <div class="faq">
                <div class="faq__header">
                    <h2 class="faq__question">¿Qué métodos de pago se pueden emplear?</h2>
                    <i class="bi bi-chevron-down faq__icon control__icon--rotate"></i>
                </div>
                <p class="faq__answer">
                    Para realizar el pago de los productros en el carrito, se pueden emplear tarjetas de crédito
                    Visa, Maestro y MasterdCard.
                </p>
            </div>

            <a name="como_activar"></a>
            <div class="faq">
                <div class="faq__header">
                    <h2 class="faq__question">¿Cómo se activan las keys?</h2>
                    <i class="bi bi-chevron-down faq__icon"></i>
                </div>
                <p class="faq__answer collapsed">
                    Todas las keys vendidas en CheapKeys pueden ser activadas desde las propias tiendas de cada plataforma. Recuerda que para activar
                    estas claves necesitaras una cuenta registrada en estas plataformas.
                </p>
            </div>

            <a name="como_comprar"></a>
            <div class="faq">
                <div class="faq__header">
                    <h2 class="faq__question">¿Debo registrarme para realizar una compra?</h2>
                    <i class="bi bi-chevron-down faq__icon"></i>
                </div>
                <p class="faq__answer collapsed">
                    Si, todos los usuarios que quieran realizar una compra deberán darse de alta en CheapKeys. De esta forma podrá recibir sus claves de producto
                    al instante y si lo necesita, solicitar y recibir atención personalizada en caso de cualquier problema o duda
                </p>
            </div>

            <div class="faq">
                <div class="faq__header">
                    <h2 class="faq__question">¿Donde puedo encontrar el producto que he comprado?</h2>
                    <i class="bi bi-chevron-down faq__icon"></i>
                </div>
                <p class="faq__answer collapsed">
                    Tus claves siempre podrás visualizarlas dentro de tu panel de control, accediendo a la sección de pedidos y buscando el pedido en concreto donde se encuentran
                    las claves en cuestión.
                </p>
            </div>

            <div class="faq">
                <div class="faq__header">
                    <h2 class="faq__question">No he recibido ninguna confirmación por email de mi compra</h2>
                    <i class="bi bi-chevron-down faq__icon"></i>
                </div>
                <p class="faq__answer collapsed">
                    No se preocupe, compruebe que la transacción se ha realizado con exito desde su panel de control. En caso contrario pongase en contacto
                    con el servicio de atención al cliente mediante el formulario de contacto o en nuestras redes sociales. ¡¡Ten siempre a mano el número de pedido! 
                </p>
            </div>

            <div class="faq">
                <div class="faq__header">
                    <h2 class="faq__question">¿Cómo puedo contactaros?</h2>
                    <i class="bi bi-chevron-down faq__icon"></i>
                </div>
                <p class="faq__answer collapsed">
                    Puedews contactar con el servicio de atención al cliente de CheapKeys empoleando el formulario de contacto o mediante nuestras redes sociales
                </p>
            </div>

            <div class="faq">
                <div class="faq__header">
                    <h2 class="faq__question">¿Qué garantias tiene el cliente que compra en CheapKeys?</h2>
                    <i class="bi bi-chevron-down faq__icon"></i>
                </div>
                <p class="faq__answer collapsed">
                    CheapKeys ofrece protección al usuario en caso de una key defectuosa y durante el proceso de compra. De esta forma el usuario siempre estará
                    en un entrono seguro donde realizar sus transacciones y canjear sus claves sin problema
                </p>
            </div>

        </article>

        {{ form_start(form, {'attr' : {'action' : path('check_contact_form'), 'class': 'contact__form' }}) }}
            <h2 class="contact__title">Formulario de contacto</h2>
            <div class="contact__container">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    {{ form_errors(form.name) }}
            </div>

            <div class="contact__container">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
            </div>

            <div class="contact__container">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message) }}
                    {{ form_errors(form.message) }}
            </div>

            <input type="hidden" name="token" value="{{ csrf_token('IBM_MS-DOS') }}"/>
            <input type="submit" value="Enviar" class="contact__button">

            {% for flash in app.flashes('success') %}
                <p class="form__success">  
                    {{flash }}
                </p>
            {% endfor %}
        {{ form_end(form) }}
    </section>
</main>

{% endblock %}


{% block javascript %}
    <script>
    if(window.location.hash){
        let parent = faqHeader[0].parentNode;
        let text = parent.querySelector('.faq__answer');
        text.classList.add('collapsed');

        let anchor = document.querySelectorAll["a[name='como_comprar']"];
        console.log(anchor)
    }
    </script>
    
{% endblock %}
