<header class="header">
    <!-- Header top containere start -->
    <div class="header__top">
        <div class="header__container--movile">
            <i class="bi bi-list header__icon--menu"></i>
            <a class="header__logo--movile" href="{{ path('index') }}">
                <img src="{{ asset('static/img/logo.png') }}" alt="CheapKeys white logo" class="header__logo--img">
            </a>
        </div>
        
        <!-- Header logo start -->
        <a class="header__logo" href="{{ path('index') }}">
            <img src="{{ asset('static/img/logo.png') }}" alt="CheapKeys white logo" class="header__logo--img">
        </a>
        <!-- Header search bar start -->
        <form action="" class="header__form">
            <input type="text" name="" class="header__input" aria-label="Buscar" placeholder="Buscar...">
            <svg class="header__search" viewBox="0 0 20 20">
                <path fill="none" d="M19.129,18.164l-4.518-4.52c1.152-1.373,1.852-3.143,1.852-5.077c0-4.361-3.535-7.896-7.896-7.896
                    c-4.361,0-7.896,3.535-7.896,7.896s3.535,7.896,7.896,7.896c1.934,0,3.705-0.698,5.078-1.853l4.52,4.519
                    c0.266,0.268,0.699,0.268,0.965,0C19.396,18.863,19.396,18.431,19.129,18.164z M8.567,15.028c-3.568,0-6.461-2.893-6.461-6.461
                    s2.893-6.461,6.461-6.461c3.568,0,6.46,2.893,6.46,6.461S12.135,15.028,8.567,15.028z">
                </path>
            </svg>
        </form>
        <!-- Header search bar end -->
        <div class="header__container">
            <i class="bi bi-search header__icon--search"></i>
            <!-- Header user section start -->
            {% if is_granted('ROLE_USER') %}
                <a class="header__user" href="{{ path('user_control_panel_data') }}">
                    <img src="{{ asset('static/img/users/' ~ app.user.userimg ~ '.webp') }}" alt="Imagen de usuario" class="header__user--img">
                    <p class="header__link">{{ app.user.username }}</p>
                </a>
            {% else %}
                <a class="header__user" href="{{ path('user_login') }}">
                    <svg class="header__userIcon" viewBox="0 0 20 20">
                        <path fill="none" d="M14.023,12.154c1.514-1.192,2.488-3.038,2.488-5.114c0-3.597-2.914-6.512-6.512-6.512
                            c-3.597,0-6.512,2.916-6.512,6.512c0,2.076,0.975,3.922,2.489,5.114c-2.714,1.385-4.625,4.117-4.836,7.318h1.186
                            c0.229-2.998,2.177-5.512,4.86-6.566c0.853,0.41,1.804,0.646,2.813,0.646c1.01,0,1.961-0.236,2.812-0.646
                            c2.684,1.055,4.633,3.568,4.859,6.566h1.188C18.648,16.271,16.736,13.539,14.023,12.154z M10,12.367
                            c-2.943,0-5.328-2.385-5.328-5.327c0-2.943,2.385-5.328,5.328-5.328c2.943,0,5.328,2.385,5.328,5.328
                            C15.328,9.982,12.943,12.367,10,12.367z">
                        </path>
                    </svg>
                    <p class="header__link--m10">Iniciar sesión</p>
                </a>
            {% endif %}
            <!-- Header user section end -->
            <!-- Header cart section start -->
            <a class="header__cart" href="{{ path('cart') }}">
                <i class="bi bi-cart header__icon">
                    {% if is_granted('ROLE_USER') %}
                        <span class="header__cartCant">{{ cartCant }}</span>
                    {% endif %}
                </i>
                <p class="header__link--m10">Ver carrito</p>
            </a>
            <!-- Header cart section end -->
        </div>
    </div>
    <!-- Header top container end -->
    <!-- Header bottom container start -->
    <div class="header__bottom">
        <!-- Header nav start -->
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"><a href="{{ path('category', { 'data':'pc' }) }}" class="header__link--list">PC</a></li>
                <li class="header__item"><a href="{{ path('category', { 'data':'playstation' }) }}" class="header__link--list">PlayStation</a></li>
                <li class="header__item"><a href="{{ path('category', { 'data':'xbox' }) }}" class="header__link--list">XBOX</a></li>
                <li class="header__item"><a href="{{ path('category', { 'data':'nintendo' }) }}" class="header__link--list">Nintendo</a></li>
                <li class="header__item"><a href="{{ path('category', { 'data':'ofertas' }) }}" class="header__link--list">Ofertas</a></li>
                <li class="header__item"><a href="{{ path('category', { 'data':'proximamente' }) }}" class="header__link--list">Proximamente</a></li>
            </ul>
        </nav>
        <!-- Header nav end -->
    </div>
    <!-- Header bottom container end -->
</header>
