{% extends "base.html.twig" %}

{% block title %} CheapKeys | Panel de usuario {% endblock %}

{% block body %}

<main class="control">
    <aside class="control__menu">
        <img src="{{ asset('static/img/users/' ~ app.user.userimg ~ '.webp') }}" alt="" class="control__img">
        <h2 class="control__title">{{app.user.username}}</h2>
        <ul class="control__list">
            <li class="control__item--selected"><a href="{{ path('user_control_panel_data') }}" class="control__link"><i class="bi bi-person control__icon"></i> Mis datos</a></li>
            <li class="control__item"><a href="{{ path('user_control_panel_wish') }}" class="control__link"><i class="bi bi-list-stars control__icon"></i> Lista de deseos</a></li>
            <li class="control__item"><a href="" class="control__link"><i class="bi bi-pencil-square control__icon"></i> Opiniones</a></li>
            <li class="control__item"><a href="" class="control__link"><i class="bi bi-cart control__icon"></i> Compras</a></li>
        </ul>
        <a href="{{ path('app_logout') }}" class="control__button">Cerrar sesión</a>
    </aside>
    <section class="{{ class }}">
        {% block content %}

        {% endblock %}
    </section>
</main>

{% endblock %}

{% block javascript %}

<script src="{{ asset('static/javascript/users.js') }}"></script>

{% endblock %}